<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="/template/images/logos/logo.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/template/css/client/css/bootstrap4.6.2.css">
    <link rel="stylesheet" href="/template/css/client/css/style.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/template/client/css/home.css">
    <link rel="stylesheet" href="/template/css/client/css/profile.css">
    <link rel="stylesheet" href="/template/css/client/css/toast.css">
    <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/toasty.css" rel="stylesheet" />

    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>

    <title>Home - PMF</title>
</head>

<body ng-app="main" ng-controller="taskController" onload="checkForMaintenance()">
    <div class="page-wrapper chiller-theme toggled">
        <div class="page-nav" id="navbar" ng-controller="navbarController">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <a id="show-sidebar" class="btn btn-sm btn-nav" href="#">
                        <i class="fas fa-bars text-light"></i>
                    </a>
                    <ul class="navbar-nav m-auto">
                        <form id="custom-search-form" class="form-search form-horizontal pull-right">
                            <div class="input-group">
                                <div class="input-group-append in-search">
                                    <i class="fa fa-search"></i>
                                </div>
                                <input id="search" type="search" ng-keyup="findData()" ng-model="search" class="in-search" placeholder="Search">
                            </div>

                            <div class="card content-search" style="border:1px solid #d9d9d9;display: none;">
                                <!-- Not any content search display this tag -->
                                <ul class="list-group" style="border: none;" ng-show="search==null ||search==''">
                                    <a href="https://www.w3schools.com/jquery/jquery_hide_show.asp ">
                                        <li class="list-group-item "><i class="fa fa-spinner " aria-hidden="true "></i> Tasks I've created</li>
                                    </a>
                                    <a href="https://www.w3schools.com/jquery/tryit.asp?filename=tryjquery_hide_show ">
                                        <li class="list-group-item "><i class="fa fa-user-plus " aria-hidden="true "></i> Task I've assigned to others</li>
                                    </a>
                                    <a href="# ">
                                        <li class="list-group-item "><i class="fa fa-check-circle-o " aria-hidden="true "></i> Recently comleted task</li>
                                    </a>
                                    <a href="# ">
                                        <li class="list-group-item "><i class="fa fa-comment-o " aria-hidden="true "></i> Messages I've sent</li>
                                    </a>
                                    <a href="# ">
                                        <li class="list-group-item "><i class="fa fa-comment-o " aria-hidden="true "></i> Messages I've received</li>
                                    </a>
                                    <a href="https://www.youtube.com/watch?v=FRpZ8WtyMtE " class="text-info " style="border-top:1px solid rgb(217, 217, 217) ; ">
                                        <li class="list-group-item "><i class="fa fa-filter " aria-hidden="true "></i> Advaned search</li>
                                    </a>
                                </ul>
                                <!--If user search infoamtion on input search display block  -->
                                <div class="content-search " ng-hide="search==null ||search==''">
                                    <button class="btn text-dark d-flex text-left " style="border-bottom:1px solid rgb(232, 232, 232) ; ">
                                    <div class="text-content p-2 ">
                                        <i class="fa fa-search text-warning " aria-hidden="true "></i>
                                        View result all with <b> {{search}}</b>
                                    </div>
                                </button>
                                    <!-- Find task -->
                                    <div class="border-bottom " ng-show="task.length!=0 ">
                                        <div class="card-title text-secondary pl-3 pt-2 ">Task</div>
                                        <ul class="list-group ">
                                            <!-- A task -->
                                            <a href="# " ng-repeat="tk in task ">
                                                <li class="list-group-item d-flex align-items-top "><i class="fa fa-check-circle-o p-1 " aria-hidden="true "></i>
                                                    <div>
                                                        <div class="text-content "> {{tk.taskName}}</div>
                                                        <div>{{task.section.project.projectName}}</div>
                                                    </div>
                                                </li>
                                            </a>
                                            <!-- End a task -->
                                        </ul>
                                    </div>
                                    <!-- Find task_sub -->
                                    <div class="border-bottom " ng-show="tasksub.length!=0 ">
                                        <div class="card-title text-secondary pl-3 pt-2 ">Task_sub</div>
                                        <ul class="list-group ">
                                            <!-- A taskSub -->
                                            <a href="# " ng-repeat="ts in tasksub ">
                                                <li class="list-group-item d-flex align-items-top "><i class="fa fa-check-circle-o p-1 " aria-hidden="true "></i>
                                                    <div>
                                                        <div class="text-content "> {{ts.discription}}</div>
                                                        <div>
                                                            <i class="fa fa-circle-o text-danger " aria-hidden="true "></i> id: {{ts.subID}}
                                                            <span ng-if="ts.status===t rue " class="badge bg-success text-light ">Done</span>
                                                            <span ng-if="ts.status===f alse " class="badge bg-danger text-light ">Undone</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </a>
                                            <!-- End a task sub -->
                                        </ul>
                                    </div>
                                    <!-- Find project -->
                                    <div class="border-bottom " ng-show="project.length!=0 ">
                                        <div class="card-title text-secondary pl-3 pt-2 ">Project</div>

                                        <ul class="list-group ">
                                            <!-- A project -->
                                            <a href="# " ng-repeat="pr in project ">
                                                <li class="list-group-item text-content "><i class="fa fa-square text-success " aria-hidden="true "></i> {{pr.projectName}} </li>
                                            </a>
                                            <!-- End A project -->
                                        </ul>
                                    </div>
                                    <!-- Find people -->
                                    <div class="border-bottom " ng-show="account.length!=0 ">
                                        <div class="card-title text-secondary pl-3 pt-2 ">People</div>
                                        <ul class="list-group ">
                                            <!-- A person -->
                                            <a href="# " ng-repeat="ac in account ">
                                                <li class="list-group-item d-flex " style="align-items: center; ">
                                                    <div class="mr-2 bg-danger rounded-circle text-center pt-1 "><span class="text-light badge badge-email ">{{ac.email.charAt(0).toUpperCase()}}</span>
                                                    </div>
                                                    <div class="text-content ">{{ac.fullname}}
                                                        <smail style="font-style: 5px; ">{{ac.email}}</smail>
                                                    </div>
                                                </li>
                                            </a>
                                            <!-- End A person -->
                                        </ul>
                                    </div>
                                    <!-- Find TEAMS, MEMBERS -->
                                    <div class="border-bottom " ng-show="team.length!=0 ">
                                        <div class="card-title text-secondary pl-3 pt-2 ">Teams</div>
                                        <!-- One team -->
                                        <ul class="list-group " ng-repeat="te in team ">
                                            <a href=" ">
                                                <li class="list-group-item text-content "><i class="fa fa-users text-secondary mr-2 " aria-hidden="true "></i>{{te.teamName}}</li>
                                            </a>

                                        </ul>
                                        <!-- End one team -->
                                    </div>
                                </div>

                            </div>
                        </form>
                    </ul>
                    <div class="navbar-nav text-light " style="font-size: 12px; justify-items: center; " role="alert ">
                        <span class="pr-2 mt-1 ">14 days left in trial</span>
                        <a class="btn-billing mr-2 text-dark" style="text-decoration: none; padding: 5px;" href="/template/client/ChooseYourPlan/ChoosePlan.html">Add billing info</a>
                        <button type="button" class="btn-infomation" id="infomation">N
                            <label  class="label">Nha Thanh <br>My Workspace</label>
                        </button>

                        <!-- Default dropleft button -->

                        <div id="info" style="display: none; ">
                            <ul class="list-group ">
                                <li class="list-group-item-nhathanh " style="background-color: #f9f8f8; ">My Workspace is currently in trial. <a href="# " class="text-primary ">Learn more</a> <br><i class="fas fa-clock text-secondary "></i> 14 days remaining</li>
                                <a href="# ">
                                    <li class="list-group-item-nhathanh hover ">My Workspace</li>
                                </a>
                                <a href="# ">
                                    <li class="list-group-item-nhathanh hover ">Admin Console</li>
                                </a>
                                <a href="# ">
                                    <li class="list-group-item-nhathanh hover ">My Profile</li>
                                </a>
                                <a onclick="logout()" href="#">
                                    <li class="list-group-item-nhathanh hover">Logout</li>
                                </a>

                            </ul>
                        </div>
                    </div>

                </div>
            </nav>
        </div>
        <nav id="sidebar" class="sidebar-wrapper" ng-controller="sidebarController">
            <div id="sidebarController" class="sidebar-content">
                <div class="sidebar-brand">
                    <div id="close-sidebar" class="mb-2">
                        <i class="fas fa-bars btn btn-sm btn-nav text-light"></i>
                    </div>
                    <img class="mr-1 " src="/template/images/logos/logo.png" width="25px" alt=" ">
                    <a href="../home.html" style="font-size: 24px;">PMF</a>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded border-rouded" width="" src="http://localhost:8080/pmf/getImage/{{fullname.image}}" alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">
                            <strong>{{fullname.fullname}}</strong>
                        </span>
                        <span class="user-role">{{fullname.account_role.roleName}}</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>{{fullname.status?'Online':'Disabled'}}</span>
                        </span>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul>
                        <li class="m-auto"><button class="btn-create" data-toggle="dropdown" aria-haspopup="true">
                            <i class="fa fa-plus" aria-hidden="true" style="font-size: 1.2rem;"></i>
                            <p>Create</p>
                            </button>
                            <div class="dropdown-menu ml-5" style="width: 40px;">
                                <ul class="create-somthings">
                                    <a href="">
                                        <li class="list-group-item-nhathanh2"><span class="fa fa-check-circle-o" aria-hidden="true"></span> Task</li>
                                    </a>
                                    <a href="/template/client/createProject/createProject_2.html">
                                        <li class="list-group-item-nhathanh2"><span class="fa fa-clipboard" aria-hidden="true"></span> Project</li>
                                    </a>
                                    <a href="">
                                        <li class="list-group-item-nhathanh2"><span class="fa fa-weixin" aria-hidden="true"></span> Message</li>
                                    </a>
                                    <a href="">
                                        <li class="list-group-item-nhathanh2"><span class="fa fa-user-plus" aria-hidden="true"></span> Invite</li>
                                    </a>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="home.html">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span>Home</span>
                            </a>
                        </li>

                        <li>
                            <a href="testRP.html">
                                <i class="fa fa-area-chart"></i>
                                <span>Reporting</span>
                            </a>
                        </li>

                        <li>
                            <a href="/template/client/meeting/create-meeting.html">
                                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                <span>Meeting</span>
                                <span class="badge badge-warning" ng-show="newMeeting!=0">New </span>
                            </a>
                        </li>
                        <li class="header-menu">
                            <span>Project  &nbsp; <i class="fa fa-plus text-secondary" onclick="window.location.href='createProject/createProject_2.html'" style="margin:0;padding:3px;text-align:center;background-color: #3A3F48;"></i></span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-product-hunt"></i>
                                <span>Current</span>
                                <span class="badge badge-pill badge-warning">{{myProjects.length + otherProjects.length}}</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li ng-show="myProjects.length!=0"><span class="text-light">My Project</span></li>
                                    <li>
                                        <li ng-repeat="pj in myProjects" ng-click="lo(pj.projectID)">
                                            <a href="#project">{{pj.projectName}}
                                                <span ng-if="pj.project_status.statusID == 1"
                                                    class="badge badge-pill badge-success">{{pj.project_status.statusName}}</span>
                                                <span ng-if="pj.project_status.statusID == 2"
                                                    class="badge badge-pill badge-danger">{{pj.project_status.statusName}}</span>
                                            </a>
                                        </li>
                                    </li>
                                    <li ng-show="otherProjects.length!=0"><span class="text-light">Other</span></li>
                                    <li>
                                        <li ng-repeat="pj in otherProjects" ng-click="lo(pj.projectID)">
                                            <a href="#project">{{pj.projectName}}
                                                <span ng-if="pj.project_status.statusID == 1"
                                                    class="badge badge-pill badge-success">{{pj.project_status.statusName}}</span>
                                                <span ng-if="pj.project_status.statusID == 2"
                                                    class="badge badge-pill badge-danger">{{pj.project_status.statusName}}</span>
                                            </a>
                                        </li>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>

            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a ng-click="notificationOpen()" href="#exampleModal" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-bell"></i>
                    <span ng-if="viewObject.newNotification > 0" class="badge badge-pill badge-warning notification">{{viewObject.newNotification}}</span>
                </a>
                <a ng-click="notificationPrivateOpen()" href="#privateModal" data-toggle="modal" data-target="#privateModal">
                    <i class="fa fa-envelope"></i>
                    <span ng-if="viewObject.newNotification > 0" class="badge badge-pill badge-success notification">{{viewObject.newNotification}}</span>
                </a>
                <a ng-click="load_profile()">
                    <i class="fa fa-cog"></i>
                </a>
            </div>
            <div ng-include src="'notificationModal.html'" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            </div>
            <div ng-include src="'notificationPrivateModal.html'" class="modal fade" id="privateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            </div>
        </nav>
        <!--Content1-->
        <main class="page-content" ng-controller="homeController">
            <div>
                <div id="importantNotification" class="d-none fixed-top w-100 text-center" style="z-index: 100;top: 50px;">
                    <div class="alert alert-danger border-0 rounded-0 p-0 w-100 m-0 h-100" role="alert">
                        <p class="text-center d-block w-100 h-100 m-0 pl-5">
                            &nbsp;&nbsp;&nbsp;&nbsp;<span id="maintainanceNotification"></span>&nbsp;|&nbsp;<button onclick="document.getElementById('importantNotification').style.display = 'none'" class="iUnderStand font-weight-bold border-0 p-0" style="background:none">I got it</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h5>{{dateNow}}</h5>
                <h3>{{helloUser}}, {{fullname.fullname}}</h2>
            </div>
            <div class="display-task">
                <div class="group d-flex" role="group" aria-label="Button group with nested dropdown">
                    <div class="page-item">
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" style="color: rgb(104, 104, 104);background: rgba(255, 255, 255, 0);" type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                My month
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="#">My week</a>
                                <a class="dropdown-item" href="#">My month</a>
                            </div>
                        </div>
                    </div>
                    <div class="space"></div>
                    <div class="page-item">
                        <button type="button" class="info" style="color: rgb(104, 104, 104);background: rgba(255, 255, 255, 0);">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <span class="count">{{completedTask}}</span> tasks completed
                        </button>
                    </div>
                    <div class="page-item">
                        <button type="button" class="info" style="color: rgb(104, 104, 104);background: rgba(255, 255, 255, 0);">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <span class="count">0</span> collaborators</button>
                    </div>
                </div>
            </div>
            <div class="mainContent">
                <div class="pageProject pageMr m-0 mr-2 p-2">
                    <div class="card-body">
                        <h5 class="card-title row">Project
                            <div class="project-group ml-2" role="tab">
                                <button id="btn-pro" style="color: rgb(104, 104, 104);background: rgba(255, 255, 255, 0);" type="button" class="dropdown-toggle pro-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Status
                                </button>
                                <div class="dropdown-menu" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <button class="dropdown-item" onclick="openPage(event, 'recent')">Active</button>
                                    <button class="dropdown-item" onclick="openPage(event, 'favorite')">Unactive</button>
                                </div>
                            </div>
                        </h5>
                    </div>
                    <div class="row m-0">
                        <div id="recent" class="w-100 h-100 tabcontent">
                            <div ng-include="'/template/client/project/projectActive.html'" class="row col-lg-12"></div>
                        </div>
                        <div id="favorite" class="w-100 h-100 tabcontent" style="display:none">
                            <div ng-include="'/template/client/project/projectUnactive.html'" class="row col-lg-12">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pageProject pageMr m-0 ml-2 p-2">
                    <div class="d-flex" style="align-items: center;">
                        <div class="card-title p-3">
                            <img class="" alt="" width="55px" src="https://d3ki9tyy5l5ruj.cloudfront.net/obj/9a701de5d79894c25f6ad611323cb71ea9afb946/grey_woman_2_avatar.svg">
                        </div>
                        <div class="card-title">
                            <h5 class="row d-flex" style="align-items: center;">My Priorities <small class="fa fa-lock ml-3 text-secondary" aria-hidden="true" style="font-size: 1rem;"></small></h5>
                        </div>
                    </div>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active text-secondary" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">High</a>
                            <a class="nav-item nav-link text-secondary" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Medium</a>
                            <a class="nav-item nav-link text-secondary" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Low</a>
                        </div>
                    </nav>
                    <div class="">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active mt-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div ng-include="'/template/client/Task-list/task-list-high.html'"></div>
                            </div>

                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div ng-include="'/template/client/Task-list/task-list-medium.html'"></div>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div ng-include="'/template/client/Task-list/task-list-low.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="mainContent row m-0 " style="height:auto">
                <div class="pageProject row p-0 m-0 pageMr col-12" style="height:250px">
                    <h5 class="row p-0 col-12 m-0" style="height:15%">
                        <div class="col-6 h-100 centerElement">
                            <span class="w-100 text-left">
                                Quick report &nbsp; <i class="fa fa-bar-chart text-dark font-weight-bold" style="font-size: 16px;" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="col-6 h-100 centerElement">
                            <span class="w-100 text-right">
                                <a href="testRP.html" class="noUnderlineHref text-primary" style="border:none;background:none">Details</a>
                            </span>
                        </div>
                    </h5>
                    <div class="col-12 row m-0 p-2" style="height:85%">
                        <div class="col-lg-3 col-md-3 col-sm-12 h-100 centerElement m-0 p-0 font-weight-bold" style="font-size:30px">
                            <img style="width:190x; height:180px" src="/template/assets/img/report.png" />
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 h-100 row m-0 p-0">
                            <div class="col-12 h-50 centerElement">
                                <div class="w-100 row m-0 p-0">
                                    <div class="text-secondary font-weight-bold col-12 mb-2 p-0 m-0">
                                        Task status rate:
                                    </div>
                                    <div class="col-12 p-0 m-0">
                                        <div class="progress" style="height:40px">
                                            <div class="font-weight-bold progress-bar rounded-5" style="transition:3s;background-color: #1b759c" role="progressbar" ng-style="{width: projectActivePercent + '%'}">
                                                Done: {{projectActivePercent | number:0}}%
                                            </div>
                                            <div class="font-weight-bold progress-bar rounded-5" style="transition:5s;background-color: #656665" role="progressbar" ng-style="{width: projectUnactivePercent + '%'}">
                                                Undone: {{projectUnactivePercent | number:0}}%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 h-50 centerElement">
                                <div class="w-100 row m-0 p-0">
                                    <div class="text-secondary font-weight-bold col-12 mb-2 p-0 m-0">
                                        Task priority rate:
                                    </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> -->
        </main>
        </div>
    </div>
    <div ng-include="'/template/client/profile.html'"></div>
    <div ng-include="'/template/client/verifyEmailModal.html'"></div>
</body>
<!-- page-content" -->
<!-- page-wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Optional JavaScript; choose one of the two! -->
<script src="/template/css/client/js/jquery.js"></script>
<script src="/template/pages/samples/js/check_login.js"></script>
<script src="/template/css/client/js/home.js"></script>
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/toasty.js"></script>
<script src="/template/css/client/js/moment.js"></script>
<script src="/template/css/client/js/notification-tag.js"></script>

</html>