<style>
    .clBtn:hover{
        text-decoration: none;
        color: rgb(102, 101, 101);
    }
    .clBtn{
        font-size: 30px;
        color: rgb(163, 163, 163);
        transition: 0.3s;
    }

    ::-webkit-scrollbar-thumb{
        background-color: #f5f5f5;
    }
    .hvST:hover{
        text-decoration: underline;
    }
</style>

<div class="modal fade p-0" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="max-width: 1340px; min-width: auto;">
        <div class="modal-content" id="task-content" style="width: 100%; max-height: 890px;">
            <div class="modal-header row m-0">
                <div class="modal-title col-5" id="taskModalLabel">
                    <span class="text-secondary text-center">Project&nbsp;</span>
                    <span class="text-center" style="font-size: 28px; font-style: italic;">{{project.projectName}}</span>
                </div>
                    
                <div class="task-content col-3 pt-2">
                    <div class="row">
                        <h4 class="task-name m-0" >{{task.taskName}}</h4>
                    <h4><span ng-show="task.deadline == false" 
                        class="text-danger font-weight-bold ">&nbsp; {{task.deadline == false ? '(Late)' : ''}}</span>
                    </h4>
                    </div>
                </div>

                <div class="col-4 pt-2">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <!-- <div class="private row-columne" style="background-color: #fff;">
                
            </div>  -->


            <div class="modal-body" id="modal-task" style="max-height: 850px;">
                    <div class="row">

                        <!-- Comment, activities, upload and subtask -->

                        <div class="col-lg-7 col-md-7 col-sm-12 m-0 p-0 mt-2 pl-4 pr-3">
                            <div class="border rounded"  style="height: 375px; ">
                                <div class="col-12 border-bottom" style="height: 50px; font-size: 18px;">
                                    <div class="row">   
                                        <p class="text-muted m-0 col-9 hvST" ng-show="check_role_member().team_role.roleID == 1" role="button" ng-click="openModalAllSubtask(task.taskID)" style="line-height: 50px; font-size: 18px;">Subtasks of {{task.taskName}}</p>
                                        <p class="text-muted m-0 col-9" ng-show="check_role_member().team_role.roleID != 1" role="button" style="line-height: 50px; font-size: 18px;">Subtasks of {{task.taskName}}</p>
                                        <div class="col-3">
                                            <a class="clBtn float-right ml-1" style="line-height: 50px; font-weight: bold;" ng-show="check_role_member().team_role.roleID == 1"
                                                data-toggle="collapse" href="#collapseExample2" 
                                                role="button" aria-expanded="false" aria-controls="collapseExample">+</a>  
                                        </div>  
                                    </div>    
                                </div>
                                <div class="plush mt-3 mb-3 pl-3 pr-3">
                                    <div class="progressbar-container" ng-show="spec_subtask.length != 0">
                                        <div class="progress" style="height: 20px;">
                                            <div class="progress-bar progress-bar-striped bg-success" id="progress-bar" role="progressbar" aria-valuenow="{{valueForProgressBar}}" aria-valuemin="0" aria-valuemax="100">{{valueForProgressBar}}%</div>
                                        </div>
                                    </div>   
                                </div>
                                <div style="overflow-y: scroll; min-height: 271px; max-height: 271px;">
                                    <div class="collapse" id="collapseExample2">
                                        <div class="card card-body p-1" style="border: 0;">
                                            <div class="row g-3 col-12 m-auto align-items-center p-0 m-0">
                                                <div class="col-lg-10 col-md-9">
                                                    <textarea style="font-size: 15px; height:60px" id="createSubTask" data-task-id="{{task.taskID}}"   placeholder="Add more detail to this task..." id="" class="w-100 form-control"></textarea>
                                                </div>
                                                <div class="col-lg-2 col-md-3 pl-2">
                                                    <button style="height:60px" class="btn btn-success font-weight-bold" ng-click="create_subtask()">Create</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="spec_subtask.length != 0" class="m-3">
                                        <div class="row g-3 align-items-center mb-3" ng-repeat="sub in spec_subtask">
                                            <div class="col-lg-6 col-md-12 col-sm-12" style="line-height: 25px;">
                                                <input type="checkbox" class="process-checkbox" style="cursor: pointer;" value="{{sub.status}}" ng-checked="sub.status" 
                                                data-task-id="{{task.taskID}}"
                                                id="{{sub.subID}}"/>{{sub.discription}} 
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-5 dropdown">
                                                <button ng-show="check_role_member().team_role.roleID == 1" class="btn-assignee dropdown-toggle font-weight-bold p-2 mb-1 mt-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i ng-show="arrange_subtask_assigned(sub.subID).length == 0" 
                                                                        class="fa fa-user-circle-o" aria-hidden="true"></i>
                                                    <i ng-show="arrange_subtask_assigned(sub.subID).length != 0 
                                                                && arrange_subtask_assigned(sub.subID).activity_category.categoryID == 23" 
                                                        class="fa fa-user-circle-o" aria-hidden="true"></i>
                                                    <img ng-show="arrange_subtask_assigned(sub.subID).length != 0 
                                                    && arrange_subtask_assigned(sub.subID).activity_category.categoryID != 23"  src="http://localhost:8080/pmf/getImage/{{return_image(arrange_subtask_assigned(sub.subID).username)}}" width="18">
                                                    &nbsp;{{arrange_subtask_assigned(sub.subID).length != 0 
                                                        && arrange_subtask_assigned(sub.subID).activity_category.categoryID != 23  
                                                        ? arrange_subtask_assigned(sub.subID).username : 'None'}} 
                                                </button>
                                                <button disabled ng-show="check_role_member().team_role.roleID == 2" class="btn-assignee dropdown-toggle font-weight-bold p-2 mb-1 mt-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i ng-show="arrange_subtask_assigned(sub.subID).activity_category.categoryID != 13 " 
                                                                        class="fa fa-user-circle-o" aria-hidden="true"></i>
                                                    <img ng-show="arrange_subtask_assigned(sub.subID).activity_category.categoryID == 13"  
                                                    src="http://localhost:8080/pmf/getImage/{{return_image(arrange_subtask_assigned(sub.subID).username)}}" width="18">
                                                    &nbsp;{{(arrange_subtask_assigned(sub.subID).length != 0  
                                                        && arrange_subtask_assigned(sub.subID).activity_category.categoryID == 12
                                                        && arrange_subtask_assigned(sub.subID).username == check_role_member().account.username) ||
                                                        (arrange_subtask_assigned(sub.subID).length != 0
                                                        && arrange_subtask_assigned(sub.subID).activity_category.categoryID == 13)
                                                        ? arrange_subtask_assigned(sub.subID).username : 'None'}} 
                                                </button>
                                                <div class="dropdown-menu drop-assignee pt-3" aria-labelledby="dropdownMenuButton" style="overflow-x: scroll;">
                                                    <input type="text" class="form-control m-auto" placeholder="Search..." ng-model="query">
                                                    <a ng-repeat="mem in ac_members | filter:query" ng-click="assigned_subtask_to_so(mem.username,sub.subID,project.projectID,task.taskID)" class="dropdown-item p-1 mt-2">
                                                        <div class="row mt-1 mb-1 ml-2">
                                                            <img class="col-2" style="object-fit: cover;" src="http://localhost:8080/pmf/getImage/{{return_image(mem.username)}}" width="18">
                                                            <p class="col-7 mt-3">{{mem.email}}</p>
                                                            <p class="col-3 mt-3 text-primary">{{mem.username}}</p>
                                                        </div>                                          
                                                    </a>
                                                </div>
                                            </div> 
                                            <div class="col-lg-3 col-md-6 col-sm-5">
                                                <span id="passwordHelpInline" class="form-text">
                                                    <div ng-show="check_role_member().team_role.roleID == 1">
                                                        <div class="row pl-2 pr-2" ng-show="arrange_subtask_assigned(sub.subID).activity_category.categoryID == 12">
                                                            <div class="col-9 m-0 p-0">
                                                                <h6 class="text-danger mt-2">Waiting</h6>
                                                            </div>   
                                                            <div class="col-3 m-0 p-0">
                                                                <i ng-click="cancel_subtask_assgined(sub.subID,project.projectID,task.taskID)" class="btn btn-danger bi bi-person-fill-dash"></i>
                                                            </div>   
                                                        </div>
                                                        <div class="row pl-2 pr-2" ng-show="arrange_subtask_assigned(sub.subID).activity_category.categoryID == 13">
                                                            <div class="col-9 m-0 p-0">
                                                                <h6 class="text-success mt-2">On board</h6>
                                                            </div>   
                                                            <div class="col-3 m-0 p-0">
                                                                <i ng-click="cancel_subtask_assgined(sub.subID,project.projectID,task.taskID)" class="btn btn-danger bi bi-person-fill-dash"></i>
                                                            </div> 
                                                        </div>
                                                        <div class="row pl-2 pr-2" ng-show="arrange_subtask_assigned(sub.subID).activity_category.categoryID == 14">
                                                            <div class="col-9 m-0 p-0">
                                                                <h6 class="text-danger mt-2">Refused</h6>
                                                            </div>   
                                                            <div class="col-3 m-0 p-0">
                                                                <button style="cursor: no-drop;" data-toggle="tooltip" data-placement="top" title="Member had refused this subtask" disabled class="btn btn-danger"><i class="bi bi-person-fill-dash"></i></button>
                                                            </div> 
                                                        </div>  
                                                    </div>  
                                                    <div class="row" ng-show="check_role_member().team_role.roleID == 2 
                                                        && arrange_subtask_assigned(sub.subID).activity_category.categoryID == 12 
                                                        && arrange_subtask_assigned(sub.subID).username == check_role_member().account.username">
                                                        <div class="ml-1"><button class="btn btn-success font-weight-bold" ng-click="accept_subtask_assigned(sub.subID,project.projectID,task.taskID)">Accept</button></div>
                                                        <div class="ml-1"><button class="btn btn-danger font-weight-bold" ng-click="refuse_subtask_assgined(sub.subID,project.projectID,task.taskID)">Refuse</button></div>                        
                                                    </div>
                                                    <div class="row" ng-show="check_role_member().team_role.roleID == 2">
                                                        <div ng-show="arrange_subtask_assigned(sub.subID).activity_category.categoryID == 13 && arrange_subtask_assigned(sub.subID).username == check_role_member().account.username">
                                                            <button class="btn btn-danger font-weight-bold" ng-click="refuse_subtask_assgined(sub.subID,project.projectID,task.taskID)">Leave the subtask</button>
                                                        </div>                      
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                        <div class = "ready"></div>
                                    </div>
                                </div>           
                            </div>
                            <nav class="mt-5">
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Comments</button>
                                    <button class="nav-link" id="nav-profile-tab" data-toggle="tab" data-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Activities</button>
                                    <button class="nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Uploaded</button>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent" style="overflow-y: scroll; max-height: 220px; min-height: 220px;">

                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <div ng-repeat="cmt in comments" class="user-history m-3 p-2" >
                                        <div class="row g-3 align-items-center">
                                            <div class="col-lg-1 col-md-1 p-1">
                                                <span class="rounded-circle border bg-danger p-2 text-light">
                                                    {{cmt.username.charAt(0).toUpperCase()}}{{cmt.username.charAt(1).toUpperCase()}}
                                                </span>
                                            </div>
                                            <div class="col-lg-9 col-md-8">
                                                <a href="#">{{cmt.username}}</a> {{cmt.discription}}
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <small class="text-secondary">{{cmt.startDate}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div ng-repeat="act in act_one_task" class="user-history m-3 p-2" >
                                        <div class="row g-3 align-items-center">
                                            <div class="col-lg-1 col-md-1 p-1">
                                                <span class="rounded-circle border bg-danger p-2 text-light">
                                                    {{act.username.charAt(0).toUpperCase()}}{{act.username.charAt(1).toUpperCase()}}</span>
                                            </div>
                                            <div class="col-lg-9 col-md-8">
                                                {{act.activityName}}
                                            </div>
                                            <div class="col-lg-2 col-md-3">
                                                <small class="text-secondary">{{act.startDate}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                    <div class="user-history mb-3" ng-show="list_file_download.length != 0">
                                        <table class="table" style="max-height: 500px; overflow: scroll;">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Filename</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">User</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="fi in list_file_download" style="border: 0px;">
                                                    <td style="max-width: 250px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{fi.name}}</td>
                                                    <td>{{fi.createDate | date: 'medium'}}</td>
                                                    <td>{{fi.account.fullname}}</td>
                                                    <td ng-show="{{fi.status == true}}" class="text-success">Completed</td>
                                                    <td ng-show="{{fi.status == false}}" class="text-warning">Late</td>
                                                    <td><button ng-click="downloadFileDrive(fi.code)" ng-show="list_file_download.length != 0" class="btn btnCustom" style="border: 1px solid rgb(197, 197, 197);"><i class="bi bi-download"></i></button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Task details -->

                        <div class="col-lg-5 col-md-5 col-sm-12 p-0 mt-2 pl-3 pr-4">
                            
                            <div class="row mb-2" style="min-width: 120px;">
                                <div class="col-lg-10 col-md-10">
                                    <div class="dropdown">
                                        <button style="min-width: 120px;" ng-disabled="check_role_member().team_role.roleID != 1" 
                                                class="btn-primary btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Section: {{task.section.sectionName}}
                                        </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a ng-repeat="sec in sections"  ng-click="change_section(sec,task)"  class="dropdown-item">
                                                
                                                <i class="fa fa-check" ng-show="task.section.sectionID == sec.sectionID">&nbsp;{{sec.sectionName}}</i> 
                                                <span ng-show="task.section.sectionID != sec.sectionID">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{sec.sectionName}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2">
                                    <div class="dropdown float-right">
                                        <a class="btn btn-light" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                          <i class="bi bi-three-dots"></i>
                                        </a>
                                      
                                        <div class="dropdown-menu">
                                          <a class="dropdown-item" ng-click="rename_task(task)">Edit task name</a>
                                          <a class="dropdown-item" ng-click="delete_task(task)">Delete task</a>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <div class="border rounded p-1">
                                <div  class="col-12 border-bottom" style="height: 50px; font-size: 18px;">
                                    <p class="text-muted" style="line-height: 50px; font-size: 18px;">Details</p>
                                </div>

                                <div class="row m-2">
                                    <div class="col-lg-12 col-md-12 p-0 pl-3">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-5 p-0 mt-3">
                                                <label class="col-form-label text-secondary pl-1">Assignee</label>
                                            </div>
                                            <div class="col-lg-3 col-md-5 p-0 mt-3">
                                                <button ng-show="check_role_member().team_role.roleID == 1" class="btn-assignee dropdown-toggle font-weight-bold p-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i ng-show="arrange_task_assigned(task.taskID).length == 0" 
                                                                        class="fa fa-user-circle-o" aria-hidden="true"></i>
                                                    <i ng-show="arrange_task_assigned(task.taskID).length != 0 && arrange_task_assigned(task.taskID).activity_category.categoryID == 22" 
                                                                    class="fa fa-user-circle-o" aria-hidden="true"></i>
                                                <img ng-show="arrange_task_assigned(task.taskID).length != 0
                                                && arrange_task_assigned(task.taskID).activity_category.categoryID != 22"  src="http://localhost:8080/pmf/getImage/{{return_image(arrange_task_assigned(task.taskID).username)}}" width="18">
                                                    &nbsp;{{arrange_task_assigned(task.taskID).length != 0 && arrange_task_assigned(task.taskID).activity_category.categoryID != 22  
                                                    ? arrange_task_assigned(task.taskID).username : 'None'}} 
                                                </button>
                                                <button disabled ng-show="check_role_member().team_role.roleID == 2" class="btn-assignee dropdown-toggle font-weight-bold p-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i ng-show="arrange_task_assigned(task.taskID).activity_category.categoryID != 10 " 
                                                                        class="fa fa-user-circle-o" aria-hidden="true"></i>
                                                    <img ng-show="arrange_task_assigned(task.taskID).activity_category.categoryID == 10"  
                                                    src="http://localhost:8080/pmf/getImage/{{return_image(arrange_task_assigned(task.taskID).username)}}" width="18">
                                                    &nbsp;{{(arrange_task_assigned(task.taskID).length != 0  
                                                        && arrange_task_assigned(task.taskID).activity_category.categoryID == 9
                                                        && arrange_task_assigned(task.taskID).username == check_role_member().account.username) ||
                                                        (arrange_task_assigned(task.taskID).length != 0
                                                        && arrange_task_assigned(task.taskID).activity_category.categoryID == 10)
                                                        ? arrange_task_assigned(task.taskID).username : 'None'}} 
                                                </button>

                                                <div class="dropdown-menu drop-assignee pt-3" aria-labelledby="dropdownMenuButton">
                                                    <input type="text" class="form-control m-auto" placeholder="Search..." ng-model="query">
                                                    <a ng-repeat="mem in ac_members | filter:query" ng-click="assigned_task_to_so(mem.username,task.taskID,project.projectID)"  class="dropdown-item p-1 mt-2">
                                                        <div class="row mt-1 mb-1 ml-2">
                                                            <img class="col-2" style="object-fit: cover;" src="http://localhost:8080/pmf/getImage/{{return_image(mem.username)}}" width="18">
                                                            <p class="col-7 mt-3">{{mem.email}}</p>
                                                            <p class="col-3 mt-3 text-primary">{{mem.username}}</p>
                                                        </div>
                                                    </a>
                                                </div>
                                                &nbsp;&nbsp;
                                            </div>
                                            <div class="col-lg-3 col-md-5 p-0 pl-3 mt-3" ng-show="check_role_member().team_role.roleID == 1">
                                                <div class="row" 
                                                    ng-show="arrange_task_assigned(task.taskID).activity_category.categoryID == 9">
                                                    <h6 class="text-warning m-0 p-0 pt-2 col-lg-12">Waiting</h6>
                                                </div>
                                                <div ng-show="arrange_task_assigned(task.taskID).activity_category.categoryID == 10">
                                                    <h6 class="text-success m-0 p-0 pt-2 col-lg-12">On board</h6>
                                                </div>
                                                <div ng-show="arrange_task_assigned(task.taskID).activity_category.categoryID == 11">
                                                    <h6 class="text-danger m-0 p-0 pt-2 col-12">Refused </h6>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 p-0 mt-3" ng-show="check_role_member().team_role.roleID == 2 
                                                && arrange_task_assigned(task.taskID).activity_category.categoryID == 9 
                                                && arrange_task_assigned(task.taskID).username == check_role_member().account.username">
                                                <div class="row p-0 m-0">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 pl-1 pr-1 pt-0 m-0">
                                                        <button class="btn btn-success font-weight-bold col-12" ng-click="accept_task_assigned(task.taskID,project.projectID)">Accept</button>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 pl-1 pt-0 m-0">
                                                        <button class="btn btn-danger font-weight-bold col-12" ng-click="refuse_task_assgined(task.taskID,project.projectID)">Refuse</button>
                                                    </div>                        
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 p-0 mt-3 pl-1" ng-show="check_role_member().team_role.roleID == 2">
                                                <div ng-show="arrange_task_assigned(task.taskID).activity_category.categoryID == 10
                                                                    && arrange_task_assigned(task.taskID).username == check_role_member().account.username">
                                                    <button class="btn btn-danger col-lg-5 col-md-11" ng-click="refuse_task_assgined(task.taskID,project.projectID)">
                                                        <i class="bi bi-person-fill-dash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-5 p-0 pr-3 mt-1" style="line-height: 10px;" ng-show="check_role_member().team_role.roleID == 1">
                                                <button ng-show="arrange_task_assigned(task.taskID).activity_category.categoryID == 9 || arrange_task_assigned(task.taskID).activity_category.categoryID == 10" class="btn btn-danger col-lg-12 col-md-11" style="margin-top: 12px;" ng-click="cancel_task_assgined(task.taskID,project.projectID)">
                                                    <i class="bi bi-person-fill-dash"></i>
                                                </button> 
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row m-2">
                                    <div class="col-lg-12 col-md-12 p-0 pl-3 pr-3">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-5 p-0 mt-3">
                                                <label class="col-form-label text-secondary pl-1">Priority</label>
                                            </div>
                                            <div class="col-lg-3 col-md-5 pl-1 p-0 mt-3">
                                                <div class="dropdown">
                                                    <button ng-disabled="check_role_member().team_role.roleID != 1"  
                                                            class="btn-assignee dropdown-toggle p-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        {{task.task_priority.priorityName}}
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a   ng-repeat="tk in tasks_priority" ng-click="change_priority(tk,task)"  class="dropdown-item">
                                                            <i class="fa fa-check" ng-show="task.task_priority.priorityID == tk.priorityID">&nbsp;{{tk.priorityName}}</i> 
                                                            <span ng-show="task.task_priority.priorityID != tk.priorityID">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{tk.priorityName}}</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-5 pl-1 p-0 mt-3">
                                                <label class="col-form-label text-secondary">&nbsp;Status</label>
                                            </div>
                                            <div class="col-lg-3 col-md-5 p-0 pl-1 mt-3">
                                                <div class="dropdown">
                                                    <button  
                                                            class="btn-assignee dropdown-toggle p-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        {{task.task_status.statusName}}
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a ng-repeat="tk in tasks_status" ng-click="change_status(tk,task)"  class="dropdown-item">
                                                            <i class="fa fa-check" ng-show="task.task_status.statusID == tk.statusID">&nbsp;{{tk.statusName}}</i> 
                                                            <span ng-show="task.task_status.statusID != tk.statusID">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{tk.statusName}}</span> 
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row m-2">
                                    <div class="col-lg-12 col-md-12 p-0 pl-3 pr-3 mt-3">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-12 p-0 mt-3 pl-1">
                                                <div class="form-group">
                                                    <label for="start-date-modal" class="text-secondary">Start date</label>
                                                    <input ng-disabled="check_role_member().team_role.roleID != 1"   
                                                    type="datetime-local"  id="start-date-modal" class="input-task w-100 {{task.deadline == false ? 'border border-danger' : ''}}">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 p-0 mt-3 pl-2">
                                                <div class="form-group">
                                                    <label for="end-date-modal" class="text-secondary">End date</label>
                                                    <input ng-disabled="check_role_member().team_role.roleID != 1"   
                                                    type="datetime-local" id="end-date-modal" class="input-task i w-100 {{task.deadline == false ? 'border border-danger' : ''}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
               
                            </div>
                            <div class="form-group mt-5 mb-3">
                                <label class="form-label text-secondary" for="customFile">Upload File <i class="text-warning">(Maximum 20Mb)</i></label>
                                <form name="myFile" class="col-12 pl-0">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-lg-10 col-md-9">
                                            <div class="custom-file-upload">
                                                <input type="file" id="fileUploadInput" name="myFile" ng-required="true" style="height: 40px;" class="form-control p-1 col-12" multiple onchange="angular.element(this).scope().fileUp(this.files)" id="customFile" />
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3 p-0 col-sm-3" style="min-height: 40px;">
                                            <button class="text-secondary mt-0 col-lg-12 col-sm-12 col-md-12 rounded btn" ng-click="upload_taskFile()" style="min-height: 40px; background-color: #efefef; text-overflow: ellipsis; border: none;">Upload</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="form-group mt-2">
                                <label for="exampleFormControlTextarea1" class="text-secondary">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" ng-blur="change_description(task)" ng-model="task.discription" placeholder="Add more detail to this task..." rows="3"></textarea>
                            </div>                            
                        </div>
                </div>
            </div>

            <div class="modal-footer ml-0 d-flex">
                <div class="row g-3 col-8 p-2 m-auto align-items-center">
                    <div class="col-1 p-0">
                        <div class="avartar-email float-right"> <span class="rounded-circle border bg-danger p-2 text-light">
                            {{user.username.charAt(0).toUpperCase()}}{{user.username.charAt(1).toUpperCase()}}</span></div>
                    </div>
                    <div class="col-9">
                        <textarea id="createComment" style="font-size: 14px;height: 50px;" name="" id="" class="w-100 p-2 form-control" placeholder="Send your comment to this task..."></textarea>
                    </div>
                    <div class="col-2 p-0">
                      <span id="passwordHelpInline" style="margin-top: 0px;" class="form-text">
                        <button ng-click="create_comment()" class="btn btn-warning">Send</button>
                      </span>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
