<div class="card m-2" style="width: 14rem; padding-bottom: 20px;">
    <div class="p-3" style="align-self:center ;">
        <img class="mt-3" alt="" width="70px" src="https://d3ki9tyy5l5ruj.cloudfront.net/obj/fa519ac9192b359a39a682eedc6a05fc0a9c7695/Blue hair woman avatar.svg">
    </div>
    <div class="text-center">
        <p>
            See update from your team. <br>Keep work on track.
        </p>
    </div>
    <div class="card-body" style="align-self:center ;">
        <a href="" class="btn btn-light" style="border: 1px solid rgb(213, 213, 213);">Invite teammates</a>
    </div>
</div>

<div class="card m-2" style="width: 14rem; padding-bottom: 20px; border: 1px dashed rgb(194, 194, 194);">
    <div class="p-3" style="align-self:center ;">
        <img class="mt-3" alt="" width="70px" src="https://d3ki9tyy5l5ruj.cloudfront.net/obj/8ca92867672994323812301034418a09386abec4/grey_woman_1_avatar.svg">
    </div>
    <div style="align-items: center;" class="mb-3">
        <div class="progress w-50 m-auto">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="25"></div>
        </div>
        <div class="p-1"></div>
        <div class="progress w-75 m-auto">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="50"></div>
        </div>
    </div>
    <div class="card-body" style="align-self:center ;">
        <button class="border-0 rounded" style="width: 135px; height: 40px;"></button>
    </div>
</div>

<div class="card m-2" style="width: 14rem; padding-bottom: 20px;">
    <div class="p-3" style="align-self:center ;">
        <img class="mt-3" alt="" width="70px" src="https://d3ki9tyy5l5ruj.cloudfront.net/obj/9a701de5d79894c25f6ad611323cb71ea9afb946/grey_woman_2_avatar.svg">
    </div>
    <div style="align-items: center;" class="mb-3">
        <div class="progress w-50 m-auto">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="25"></div>
        </div>
        <div class="p-1"></div>
        <div class="progress w-75 m-auto">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="50"></div>
        </div>
    </div>
    <div class="card-body" style="align-self:center ;">
        <button class="border-0 rounded" style="width: 135px; height: 40px;"></button>
    </div>
</div>

<div class="card m-2" style="width: 14rem; padding-bottom: 20px;">
    <div class="p-3" style="align-self:center ;">
        <img class="mt-3" alt="" width="70px" src="https://d3ki9tyy5l5ruj.cloudfront.net/obj/9a701de5d79894c25f6ad611323cb71ea9afb946/grey_woman_2_avatar.svg">
    </div>
    <div style="align-items: center;" class="mb-3">
        <div class="progress w-50 m-auto">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="25"></div>
        </div>
        <div class="p-1"></div>
        <div class="progress w-75 m-auto">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="50"></div>
        </div>
    </div>
    <div class="card-body" style="align-self:center ;">
        <button class="border-0 rounded" style="width: 135px; height: 40px;"></button>
    </div>
</div>
<div class="card m-2" style="width: 14rem; padding-bottom: 20px;">
    <div class="p-3" style="align-self:center ;">
        <img class="mt-3" alt="" width="70px" src="https://d3ki9tyy5l5ruj.cloudfront.net/obj/9a701de5d79894c25f6ad611323cb71ea9afb946/grey_woman_2_avatar.svg">
    </div>
    <div style="align-items: center;" class="mb-3">
        <div class="progress w-50 m-auto">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="25"></div>
        </div>
        <div class="p-1"></div>
        <div class="progress w-75 m-auto">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="50"></div>
        </div>
    </div>
    <div class="card-body" style="align-self:center ;">
        <button class="border-0 rounded" style="width: 135px; height: 40px;"></button>
    </div>
</div>