<div class="modal fade" id="verifyEmailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{account.email}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group text-center ">
            <span class="text-success" style="font-size: 16px;">
              <i>A 5-digit code has been sent to your email.</i><br>
              <i>Please check your email!</i>
            </span>
          </div>
          <div class="col-10 m-auto row">
            <div class="col-10 p-1">
              <input type="text" class="form-control" id="exampleInputCode" placeholder="Input verify code">
            </div>
            <div class="col-2 p-1">
              <button type="button" ng-click="verifyEmail(account.email)" class="btn btn-secondary">Resend</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer mt-2">
        <a class="text-secondary mr-2" style="cursor: pointer; font-size: 16px;" ng-click="$parent.backToProfile()">Back</a>
        <button type="button" class="btn btn-primary col-3" ng-click="verify(account.email)">Verify</button>
      </div>
    </div>
  </div>
</div>
