<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo expedita facilis, dicta impedit tempora voluptate dolor accusantium obcaecati excepturi et sunt ratione nemo, rerum molestias mollitia earum doloribus consequatur placeat? Odit laboriosam
        is ut voluptatibus aliquam suscipit sed magni perspiciatis distinctio mollitia, ex vitae officiis, molestiae dicta ipsum voluptatum excepturi? Perspiciatis quis architecto corrupti, id totam, fuga minima hic unde vel dolorem ea obcaecati ducimus
        neque recusandae. In, sequi at. Voluptates velit quisquam explicabo in adipisci libero et saepe harum? Unde distinctio corrupti natus molestiae maiores, quam saepe? Id aliquam facere voluptas laudantium. Ducimus architecto accusamus haru
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>oris nam saepe accusamus odio error. Aliquam animi rerum error officiis obcaecati. Praesentium fugit, impedit omnis facere porro magnam quidem dicta nisi molestiae dolores, et molestias dolor libero laudantium sequi iusto? Ab dignissimos culpa
                repudiandae, blanditiis fugit numquam cumque enim distinctio minus! Sunt sint ipsum omnis quidem quibusdam doloremque at ratione sapiente facere provident optio quia officia nobis quasi explicabo, rem non, vero blanditiis nesciunt numquam
                dignissimos illum obcaecati id unde. Corporis! Itaque provident, nostrum error non blanditiis ipsam aut consectetur reprehenderit temporibus quae atque distinctio delectus, eum unde voluptatem et dolore corrupti perferendis nulla quidem.
                Impedit amet perspiciatiunt sapiente quod quam molestias nulla! Odit a et sint repellendus eum? Laudantium repellat officia nesciunt facere dolorum velit harum dignissimos quibusdam nobis tempore architecto, in earum, quaerat distinctio
                et? nesciunt
                <div class="jumbotron">
                    <h1 class="display-4">Hello, world!</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information. me, voluptatem fugiat adipisci ipsa expedita est eligendi nostrum perspiciatis! Molestiae aliquid dignissimos
                        ma ratione maiores, ipsam velit dolorum impedit deserunt! Quis adipisci ut praesentium eveniet illo. In officiis voluptatum numquam ipsa iusto repudiandae ut sed aliquid. Commodi soluta non molestias quod, similique totam iure
                        quis necessitatibus voluptate eos. Delectus officia veniam autem esse harum aspernatur quasi nihil laudantium, voluptatum repellat unde assumenda laboriosam similique reiciendis beatae.</p>
</body>

</html>
</p>
<hr class="my-4">
<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div> soluta pofficiis distinctio dolorem quaerat! Debitis aliquid ea aspernatur! Optio fugiat, ea quos laborum rerum velit quod mollitia doloribus maxime facere iste saepe, consequatur eos debitis commodi fugit, eius ex porro repudiandae nemo quo modi?
Perferendis error reprehenderit rem quam praesentium tenetur facilis sit eaque quis corrupti provident at natus, aspernatur unde quae molestiae nemo alias harum aut impedit maxime itaque consequuntur! Facilis, molestiae aliquam. Vel ducimus voluptatum
architecto ex blanditiis laudantium nece</p>
<hr>
<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>menda ut corpssitatibus accusamus sicommodi dignissimos impedit praesentium maxi