<div class="col-12 createProject">
    <button onclick="window.location.href='/template/client/createProject/createProject_2.html'" class="w-100"><i style="font-size: 2.5rem;" class="fa fa-plus p-3" aria-hidden="true"></i> Create Project</button>
</div>
<div class="col-12 btn-in-project" ng-repeat="pr in projectActiveData">
    <button ng-click="lo(pr.projectID)" class="w-100">
        <div>  
            <i style="font-size: 2.5rem;"class="fa fa-registered p-3" aria-hidden="true"></i>
        </div>
        <div>
            <div class="title-project">{{pr.projectName}}</div> 
            <small class="sub-project text-secondary">{{pr.team.teamName}}</small>
        </div>
    </button>
</div>