<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="/template/images/logos/logo.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/template/css/client/css/bootstrap4.6.2.css">
    <link rel="stylesheet" href="/template/css/client/css/style.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>New Project - Rman</title>
</head>

<body>
    <header class="d-flex w-100 new-header ">
        <div class=""> <button class="btn "><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button> </div>
        <div class=""> <button class="btn"><i class="fa fa-times" aria-hidden="true"></i></button></div>
    </header>
    <div class="p-5 mb-5"></div>
    <div class="container text-center w-50">
        <div>
            <h4>Create a new project</h4>
            <p>How would you like to start?</p>
        </div>

        <div class="d-flex farther container w-75 pl-5" style="width: 80%;">
            <a href="#">
                <div class="mother">
                    <div class="children">
                        <div class="icon central"><i class="fa fa-plus text-secondary" style="font-size: 2.5rem;" aria-hidden="true"></i> </div>
                        <p class="mt-2"> Blank project <br>
                            <small class="text-secondary">Start from scratch</small>
                        </p>

                    </div>
                </div>
            </a>
            <a href="#">
                <div class="mother">
                    <div class="children">
                        <div class="icon-notborder central"><i class="fa fa-rocket text-danger" style="font-size: 2.5rem;" aria-hidden="true"></i>
                        </div>
                        <p class="mt-2"> Use a template <br>
                            <small class="text-secondary">Choos from libary</small></p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="mother">
                    <div class="children">
                        <div class="icon-notborder central"><i class="fa fa-file-excel-o text-success" style="font-size: 2.5rem;" aria-hidden="true"></i> </div>
                        <p class="mt-2"> Import spreadsheet <br>
                            <small class="text-secondary">Add from another tool</small></p>
                    </div>
                </div>
            </a>

        </div>
    </div>
    <!-- page-content" -->
    <!-- page-wrapper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="/template/css/client/js/jquery.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</body>

</html>