<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="word-spacing:normal;background-color:#f2f2f2">
        <div style="display:none;max-height:0px;overflow:hidden">Get started with frameworks you love, or import directly from GitHub.</div>
        <div style="display:none;max-height:0px;overflow:hidden">&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;</div>
        <div style="background-color:#f2f2f2">
            <div style="margin:0px auto;max-width:600px">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                    <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:0px 0 0px 0;padding-bottom:0px;padding-top:0px;text-align:center">
                                <div class="m_-3754985049220612606mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="vertical-align:top;padding:0 0 0 0">
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" style="font-size:0px;padding:30px 25px 30px 25px;padding-top:30px;padding-right:25px;padding-bottom:30px;padding-left:25px;word-break:break-word">
                                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="width:250px">
                                                                                    <a href="" target="_blank" data-saferedirecturl="">
                                                                                        <img alt="Glitch" src="https://f7-zpcloud.zdn.vn/4413739648967792034/7dc7a6a46d8bb5d5ec9a.jpg" style="border:none;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px" class="CToWUd" data-bit="iit">
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="margin:0 auto;max-width:600px">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
                    <tbody>
                        <tr style="vertical-align:top">
                            <td background="https://f7-zpcloud.zdn.vn/4709977809018731607/e969f23d4813904dc902.jpg" style="background: url(https://f7-zpcloud.zdn.vn/4709977809018731607/e969f23d4813904dc902.jpg) no-repeat center bottom/cover;background-position:center bottom;background-repeat:no-repeat;border-radius:5px 5px 0 0;padding:0;vertical-align:top"
                                height="400">
                                <div style="margin:0px auto">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;margin:0px">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;margin:0px">

                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;border-radius:0;max-width:600px">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;border-radius:0">
                    <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:20px 0;text-align:center">
                                <div class="m_-3754985049220612606mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="left" style="font-size:0px;padding:15px 25px 0px 25px;padding-top:15px;padding-right:25px;padding-bottom:0px;padding-left:25px;word-break:break-word">
                                                    <div style="font-family:Arial,sans-serif;font-size:18px;line-height:1;text-align:left;color:#000000">
                                                        <h1 style="line-height:42px;text-align: center;"><b>Project Notify</b></h1>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" style="font-size:0px;padding:0 25px 10px 25px;padding-top:0px;padding-right:25px;padding-bottom:10px;padding-left:25px;word-break:break-word">
                                                    <div style="font-family:Arial,sans-serif;font-size:16px;line-height:25px;text-align:left;color:#333333"><b>Project: </b>: nameProject</div>
                                                    <div style="font-family:Arial,sans-serif;font-size:16px;line-height:25px;text-align:left;color:#333333"><b>Creator: </b>: creator</div>
                                                    <div style="font-family:Arial,sans-serif;font-size:16px;line-height:25px;text-align:left;color:#333333"><b>Create date: </b>: timebegin</div>
                                                    <div style="font-family:Arial,sans-serif;font-size:16px;line-height:25px;text-align:left;color:#333333"><b>Content</b>: content</div>
                                                    <div style="font-family:Arial,sans-serif;font-size:14px;line-height:25px;text-align:center;color:#808080">Have you a nice day!</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="background:#ffffff;font-size:0px;padding:20px 30px 20px 30px;padding-top:20px;padding-right:25px;padding-bottom:20px;padding-left:25px;word-break:break-word">
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" bgcolor="#FFFFFF" role="presentation" style="border:2px solid #000000;border-radius:5px;background:#ffffff" valign="middle">
                                                                    <a href="linkproject" style="display:inline-block;background:#ffffff;color:#000000;font-family:Fira Code,Arial,sans-serif;font-size:14px;font-weight:bold;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px;border-radius:5px"
                                                                        target="_blank" data-saferedirecturl="">
                                                                        <img src="https://ci5.googleusercontent.com/proxy/fOK99TduKL9fhNLGLHMeOvBOe-IVctcqYm3e-m24RBM0Tirrkug5hSiLexq1dEAXvNcZflgyJsFqMtcGS3zaFXlGykTMZ7tbt7zKPK02pIfR6zvOyDdB3-GizsLqEqtBB8LM1w=s0-d-e1-ft#https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515/email-emoji-1f6e0.png"
                                                                            width="15px" class="CToWUd" data-bit="iit"> Start with us
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;border-radius:0 0 5px 5px;max-width:600px">
                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;background-color:#ffffff;width:100%;border-radius:0 0 5px 5px">
                    <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:0;text-align:center">
                                <div class="m_-3754985049220612606mj-column-per-100" style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="font-size:0px;padding:0 25px 5px 25px;padding-top:0px;padding-right:25px;padding-bottom:5px;padding-left:25px;word-break:break-word">
                                                    <div style="font-family:Arial,sans-serif;font-size:14px;line-height:24px;text-align:center;color:#4f4f4f"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <img src="https://ci5.googleusercontent.com/proxy/OG_nTHLDdItDUuL6CVffUKxr_xZ1Vyukv4E582xIWRRLjnHY49VYbgPQKQ5L5K-ewwcp2dfXImwfZsOn9up0YAl5NHN34iaiNdEa6dhtmyoy2k5wFolh27lN48607JCZRNFcsbNE5vfDNcwo0A42LNLNUO7BqsqWFhp6TwgX5Bk=s0-d-e1-ft#https://email.glitch.com/e/o/eyJlbWFpbF9pZCI6ImRnVHFsd01CQUlxR2pnR0pobzRCQVlTTEtlU21KV0tDOE9uZTNVLXlYUT09In0="
            style="height:1px!important;max-height:1px!important;max-width:1px!important;width:1px!important;display:none!important" class="CToWUd" data-bit="iit"></div>
</body>

</html>